* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .game {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    gap: 300px; 
  }
  
  .game-board {
    background: #222;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.6);
    text-align: center;
    margin-left: -100px;
  }
  
  .gameinfo {
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.6);
    min-width: 500px;
    min-height: 500px;
  }
  
  .game-info ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .game-info li {
    margin: 8px 0;
  }
  
  .game-info button {
    background: #333;
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .game-info button:hover {
    background: #555;
  }
  
  .title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;

  background: linear-gradient(270deg, #ff00bf, #ff2600, #ff1e1e, #2b3275);
  background-size: 800% 800%;

  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;

  animation: gradientShift 6s ease infinite;

}

/* 0% , 100% e 0% cria o efeito de movimento contínuo.
O 50% no eixo Y (50%) mantém o gradiente centralizado verticalmente. */

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
